<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>奇异查询</title>
</head>
<body>
<h1>查询</h1>
<div style="border: 1px black solid">
    <div style="font-size: large;color: red;border: 1px blue dashed">
        M('admin')->field("b.*,admin.password as pwd")->where($where)->join("admin_role as b ON admin.id=b.admin_id")->select();
    </div>
    <div>
        {:print_r($datas1)}
    </div>
    <div style="font-size: large;color: red;border: 1px blue dashed">
        M('admin')->find($id);
    </div>
    <div style="font-size: large;color: red;border: 1px blue dashed">
        $counts = M()->table('student')->count();// 总条数
    </div>
    <div style="font-size: large;color: red;border: 1px blue dashed">
        delete from `md` where GistUnit regexp '^[0-9]+$';;// 删除字段为数字的行
    </div>
    <div style="font-size: large;color: red;border: 1px blue dashed">
        delete from `md` where GistUnit='';// 删除字段为空的行
        update `md` set GistUnit='暂无' where GistUnit='';
    </div>
    <div style="font-size: large;color: red;border: 1px blue dashed">
        1.导出整个数据库
        mysqldump -u 用户名 -p 数据库名 > 导出的文件名
        mysqldump -u wcnc -p smgp_apps_wcnc > wcnc.sql
        2.导出一个表
        mysqldump -u 用户名 -p 数据库名表名> 导出的文件名
        mysqldump -u wcnc -p smgp_apps_wcnc users> wcnc_users.sql

        mysql -h主机地址 -u用户名 －p用户密码
        mysql>use 数据库
        然后使用source命令,后面参数为脚本文件(如这里用到的.sql)
        mysql>source d:wcnc_db.sql
    </div>
</div>
<h1>更新</h1>
<div style="border: 1px black solid">
    <div style="font-size: large;color: green;border: 1px green dashed">
        $result=M('Admin')->where('id='.$id)->save(array('status'=>2));
    </div>
    <div style="font-size: large;color: green;border: 1px green dashed">
        $result=M('Admin')->save($data)  //数据内有ID;
    </div>
    <div style="font-size: large;color: green;border: 1px green dashed">
        $result=M('Admin')->where('id='.$id)->save($data)  //数据内有ID;
    </div>
    <div style="font-size: large;color: green;border: 1px green dashed">
        $result=M('Admin')->setInc('score','id=5',3 ); ID为5  score自增3  <br>
        $result=M('Admin')->where('id=5')->setInc('score',3);
    </div>
    <div style="font-size: large;color: green;border: 1px green dashed">
        $result=M('Admin')->setDec('score','id=5',3 ); ID为5  score自减3 <br>
        $result=M('Admin')->where('id=5')->setDec('score',3);
    </div>
</div>
<h1>添加</h1>
<div style="border: 1px black solid">
    <div style="font-size: large;color: green">
        $result = M('GoodsCates')->add($data);
    </div>

</div>
<h1>删除</h1>
<div style="border: 1px black solid">
    <div style="font-size: large;color: green">
        $result = M('GoodsCates')->delete($id);
    </div>

</div>

session入库，实现两个服务器的同步登陆
</body>
</html>