<!--footer section start-->
<footer>
    2014 &copy; AdminEx by ThemeBucket
</footer>

<!--footer section end-->


</div>
<!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="_JS_/jquery-1.10.2.min.js"></script>
<script src="_JS_/jquery-ui-1.9.2.custom.min.js"></script>
<script src="_JS_/bootstrap.min.js"></script>
<script src="_JS_/jquery.nicescroll.js"></script>

<!--<script src="_UPLOADIFY_/jquery.uploadify.min.js"></script>
<script src="_LAYER_/layer.js"></script>-->

<!--common scripts for all pages-->
<script src="_JS_/scripts.js"></script>
<block name="js">

</block>
</body>
</html>