<script src="_JS_/html5shiv.js"></script>
<script src="_JS_/respond.min.js"></script>
<![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="/"><img src="_IMG_/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="/"><img src="_IMG_/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">

                <!--<foreach name='nav_menus' item='top_nav'>-->
                <!--<eq name='top_nav.level' value='1'>-->
                <!--<li class="menu-list"><a href=""> <span>{$top_nav.name}</span></a>-->
                <!--<ul class="sub-menu-list">-->
                <!--<foreach name='nav_menus' item='sub_nav'>-->
                <!--<eq name='sub_nav.parent_id' value='$top_nav["id"]'>-->
                <!--<li><a href="{:U($sub_nav['path'])}"> {$sub_nav.name}</a></li>-->
                <!--</eq>-->
                <!--</foreach>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</eq>-->
                <!--</foreach>-->

                <li class="active"><a href="{:U('Index/index')}"><i class="fa fa-home"></i> <span>管理首页</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>商品管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="lists.html"> 供应商管理</a></li>
                        <li><a href="{:U('Brand/index')}"> 品牌管理</a></li>
                        <li><a href="{:U('GoodsCategory/index')}"> 商品分类管理</a></li>
                        <li><a href="{:U('Good/index')}"> 商品列表</a></li>

                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>订单管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:U('Order/index')}"> 订单列表</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>会员管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:U('')}"> 会员列表</a></li>

                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>文章管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:U('Articlecategory/index')}"> 文章分类管理</a></li>
                        <li><a href="{:U('Article/index')}"> 文章列表</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>系统设置</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="form_layouts.html"> 网站基本设置</a></li>
                        <li><a href="form_advanced_components.html"> 支付管理</a></li>
                        <li><a href="form_wizard.html"> 活动管理</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>权限管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:U('Admin/index')}"> 管理员管理</a></li>
                        <li><a href="{:U('Role/index')}"> 角色列表</a></li>
                        <li><a href="{:U('Permission/index')}"> 权限列表</a></li>
                        <li><a href="{:U('Menu/index')}"> 菜单管理</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>各种测试</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:U('Test/countdown')}"> 倒计时js</a></li>
                        <li><a href="{:U('Test/video')}"> 腾讯视频</a></li>
                        <li><a href="{:U('Test/morepic')}"> 多图片上传</a></li>
                        <li><a href="{:U('Test/baidushare')}"> 百度分享</a></li>
                        <li><a href="{:U('Test/move')}"> html5动画</a></li>
                        <li><a href="{:U('Test/jqcookie')}"> jqcookie倒计时</a></li>
                        <li><a href="{:U('Test/formh5')}"> h5表单输入金额变中文</a></li>
                        <li><a href="{:U('Test/price')}"> 抽奖ajax</a></li>
                        <li><a href="{:U('Test/lightshow')}"> 幻灯片播放</a></li>
                        <li><a href="{:U('Test/jssleep')}"> js休眠</a></li>
                        <li><a href="{:U('Test/querytime')}"> PHP执行时间</a></li>
                        <li><a href="{:U('Test/zhezhao')}"> 遮罩层</a></li>
                        <li><a href="{:U('Test/topfix')}"> js固定在顶部</a></li>
                        <li><a href="{:U('Test/captcha')}"> 前端验证码</a></li>
                        <li><a href="{:U('Test/captchas')}"> 前端验证码新</a></li>
                        <li><a href="{:U('Test/jsonp')}"> jsonp</a></li>
                        <li><a href="{:U('Test/jsonp2')}"> jsonp2</a></li>
                        <li><a href="{:U('Test/jqcode')}"> jq生成二维码</a></li>
                        <li><a href="{:U('Test/ob_arr')}"> 对象数组相互转换</a></li>
                        <li><a href="{:U('Test/jscode')}"> js图像验证码</a></li>
                        <li><a href="{:U('Test/avatar')}"> ajax头像上传</a></li>
                    </ul>
                </li>
                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>数据库管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="{:U('Sql/inserts')}"> 原生执行数据添加</a></li>
                        <li><a href="{:U('Sql/export')}"> 数据表导出</a></li>
                        <li><a href="{:U('Sql/search')}"> sql查询</a></li>
                        <li><a href=""> 支付管理</a></li>
                        <li><a href=""> 活动管理</a></li>
                    </ul>
                </li>
            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
            <form class="searchform" action="index.html" method="post">
                <input type="text" class="form-control" name="keyword" placeholder="搜索" />
            </form>
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <img src="_IMG_/photos/user-avatar.png" alt="" />
                            {:cookie('adminname')['username']}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="{:U('Admin/update',['id'=>cookie('adminname')['id']])}"><i class="fa fa-user"></i>  个人资料</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>  修改密码</a></li>
                            <li><a href="{:U('Login/logout')}"><i class="fa fa-sign-out"></i> 退出</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->
        <div class="page-heading">
            <h3>
                {$title.b_title}
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">{$title.m_title}</a>
                </li>
                <li class="active"> {$title.s_title} </li>
            </ul>
        </div>