<include file="Public:head" />

    <style>
        .table th {
            text-align: center;
            /*height:38px;*/
            vertical-align: middle;
        }

    </style>

    <include file="Public:nav" />
    <!-- page heading start-->

    <!-- page heading end-->
        <!-- page heading start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        管理员列表
                        <span class="tools pull-right">
                                <a href="{:U('add')}" class="btn btn-success btn-link">新增</a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <div class="adv-table">
                            <table  class="display table table-bordered table-striped table-hover" id="dynamic-table">
                                <thead>
            <tr>
                <th>管理员ID</th>
                <th>用户名</th>
                <th>头像</th>
                <th>密码</th>
                <th>登录时间</th>
                <th>登录IP</th>
                <th>密盐</th>
                <th>操作</th>
            </tr>
                                </thead>
                                <tbody>
            <foreach name="data" item="row">
            <tr>
                <td style="text-align: center; vertical-align: middle;">{$row.id}</td>
                <td style="text-align: center; vertical-align: middle;">{$row.username}</td>
                <td style="text-align: center; vertical-align: middle;">
                    <if condition="$row.thumb eq ''">
                        <img src="/Public/images/photos/user-avatar.png" alt="">
                    <else/>
                        <img src="{$row.thumb}" alt="">
                    </if>
                   
                </td>
                <td style="text-align: center; vertical-align: middle;">{$row.password}</td>
                <td style="text-align: center; vertical-align: middle;">{$row.last_login_ip}</td>
                <td style="text-align: center; vertical-align: middle;">{:date('Y-m-d H:i:s',$row['last_login_time'])}</td>
                <td style="text-align: center; vertical-align: middle;">{$row.salt}</td>
                <td style="text-align: center; vertical-align: middle;">
                    <a href="{:U('Admin/delete',['id'=>$row['id']])}" class="btn btn-danger">删除</a> <a href="{:U('update',['id'=>$row['id']])}" class="btn btn-info">修改</a>
                </td>
            </tr>
            </foreach>
                                </tbody>
        </table>

<include file="Public:foot" />