<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="lc-cont-b">
    <span>图片验证码：</span>
    <input type="text" placeholder="请输入右边的图片验证码" class="styled"  name="yz_code">
    <!--            <img src="/img/login-c.jpg" class="lc-cont-b-im">-->
    <div id="code" style="width: 110px;height: 40px;float: left;margin-left: 5px">

    </div>
    <tt class="yz_err">

    </tt>
</div>
<script src="_JS_/jquery.js"></script>
<script src="_JS_/jscode.js"></script>
<script>
    //验证码生成
    var code = new vCode(document.getElementById('code'));
    $('input[name=yz_code]').blur(function () {
        if(code.verify($(this).val())==true){
            alert('验证码正确');
        }else{
            alert('验证码错误');
            $('#code').click();
        }
    })
</script>
</body>
</html>