<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
novalidate取消验证 <br>
<form action="" method="post">
    输入url：<input type="url" required name="url" value="http://www.d.com" autofocus/><br>
    邮箱:<input type="email" multiple name="email" required value="33@qq.com"/><br>
    日期框：<input type="date" value="2015-04-19" name="date" required/><br>
    数字范围:<input type="number" min="1" max="100" step="5" name="number" value="1"/><br>
    只能字母开始：<input type="text" onkeyup="value=value.replace(/[^A-Za-z]/g,'')" onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^A-Za-z]/g,''))" name="zimu" required/>
    <br>
    正则验证5-7个字母：<input type="text" pattern="^[a-zA-Z]\w{5,7}$" required name="partn"/><br>
    下拉框：
    <select name="senven">
        <option style="display: none;">请选择星期几</option>
        <option value="Sunday">Sunday</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
    </select>
    <br>
    <input type="submit">

</form>
</body>
</html>