<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>固定顶部</title>
</head>
<body>
    <div id="nav">这里不动</div>
    <br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111
    <br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111
    <br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111
    <br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111
    <br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111<br>111
    <br>111
    <br>111
    <br>111
    <br>111
    <br>111
    <br>111
    <br>111
    <br>111
    <br>111
    <br>111

</body>
<SCRIPT type=text/javascript src="_JS_/jquery.js"></SCRIPT>
<SCRIPT type=text/javascript src="_JS_/jquery.stopattop.js"></SCRIPT>
<script>
    $('#nav').stopAtTop();
</script>
</html>